<div *ngIf="food">
  <p>{{ food.name }}</p>
</div>

<!-- Recipes -->
<!-- <div class="container">
  <div class="details">
    <img [src]="food.img" [alt]="food.name" />
    <div class="header">
      <h2 class="name">
        {{ food.name }}
      </h2>
    </div>
    <div class="cookTime">
      <span>
        {{ food.cookTime }}
      </span>
    </div>
    <div class="Price">
      <span>
        {{ food.price }}
      </span>
    </div>
  </div>
</div> -->
<!-- Details -->
<!-- <div class="two">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about">
          <img class="mt-5" [src]="food.img" [alt]="food.name" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="noun">
          <h2>{{ food.name }}</h2>
          <h3></h3>
          <p>{{ food.des }}</p>
          <p></p>
          <hr />
          <div class="icon"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mt-5 skills">
          <h2>Instructions</h2>
          <ol type="1">
            <li>{{food.inst}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div> -->
