*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Poppins', sans-serif;

}
h2 
{
    font-weight: 700;
    font-size: 2.5em;
}
h3
{
    font-size: 1.5em;
    font-weight: 700;
    color:#444444; 
    
}
.noun
{
    margin-top: 180px;
}


.mt-5
{
    margin-left: 5% !important ;
}
.skills {
    margin-left: 10% !important;
    margin-bottom: 5% ;
}


